﻿<%@ Control Language="C#" AutoEventWireup="true"  Inherits="System.Web.UI.UserControl" %>

<ul>

    

    
       
        <li><a href="Overview.aspx">Overview</a></li>
        <li><a href="personalinfo.aspx">Personal Information</a></li>
        <li><a href="workinfo.aspx">Work Information</a></li>
        <li><a href="Departure.aspx">Departure Details</a></li>
        <li><a href="Itinerary.aspx">Itinerary</a></li>
        <li><a href="accommodation.aspx">Accomodation</a></li>
        <li><a href="return.aspx">Return Information</a></li>
        <li><a href="comment.aspx">Comments</a></li>
    
        <li><a href="Document.aspx">Document</a></li>
     <li><a href="administrative.aspx">Administrative Information</a></li>
    </ul>


