﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="System.Web.UI.UserControl" %>
<ul class="em-c-link-list ">
    <li class="em-c-link-list__item">
        <a href="../WBSRequest/WBSRequest.aspx" class="em-c-link-list__link ">Overview
        </a>
    </li>
    <li class="em-c-link-list__item">
        <a href="../WBSRequest/WBSRequestEdit.aspx" class="em-c-link-list__link ">Edit
        </a>
    </li>
</ul>

