﻿<%@ Control Language="C#" AutoEventWireup="true"  Inherits="System.Web.UI.UserControl" %>

<ul>

    

    
       
       <li><a href="#">Overview</a></li>
        <li><a href="#">Personal Info</a></li>
        <li><a href="#">Work Info</a></li>
        <li><a href="#">Clearances</a></li>
        <li><a href="#">Special Access</a></li>
        <li><a href="#">Forms/Actions</a></li>
        <li><a href="#">Comments</a></li>
        <li><a href="#">Audi Trail</a></li>
    </ul>


