﻿<%@ Control Language="C#" AutoEventWireup="true"  Inherits="System.Web.UI.UserControl" %>

<ul>

    

    
       
       <li><a href="#">Overview</a></li>
        <li><a href="#">Personal Information</a></li>
        <li><a href="#">Work Information</a></li>
        <li><a href="#">Departure Details</a></li>
        <li><a href="#">Itinerary</a></li>
        <li><a href="#">Accomodation</a></li>
        <li><a href="#">Return Information</a></li>
        <li><a href="#">Comments</a></li>
        <li><a href="#">Audi Trail</a></li>
    </ul>


