﻿<%@ Control Language="C#" AutoEventWireup="true"  Inherits="System.Web.UI.UserControl" %>

<ul>

    

    
       
       <li><a href="#">Overview</a></li>
        <li><a href="#">Edit</a></li>
        
        <li><a href="#">Documents</a></li>
        <li><a href="#">Comments</a></li>
        <li><a href="#">Audi Trail</a></li>
    </ul>


