﻿<%@ Control Language="C#" AutoEventWireup="true"  Inherits="System.Web.UI.UserControl" %>

<ul>

    

    
       
        <li><a href="Overview.aspx">Overview</a></li>
        <li><a href="employee.aspx">Employee/Candidate Information</a></li>
        <li><a href="contract.aspx">Contract Information</a></li>
        <li><a href="clearance.aspx">Clearance Information</a></li>
        <li><a href="noncontractual.aspx">Non-Contractual Clearance</a></li>
        <li><a href="comment.aspx">Comments</a></li>
        <li><a href="document.aspx">Document</a></li>
        <li><a href="administrative.aspx">Administrative Information</a></li>
    </ul>


