﻿<%@ Control Language="C#" AutoEventWireup="true"  Inherits="System.Web.UI.UserControl" %>

<ul>

    

    
       
        <li><a href="Overview.aspx">Overview</a></li>
        <li><a href="personalinfo.aspx">General Information</a></li>
        <li><a href="citizen.aspx">Citizenship Information</a></li>
        <li><a href="clearance.aspx">Previous Clearances</a></li>
        <li><a href="employment.aspx">Employment</a></li>
        <li><a href="finances.aspx">Finances</a></li>
        <li><a href="criminal.aspx">Criminal</a></li>
        <li><a href="illegal.aspx">Illegal Drug USE</a></li>   
        <li><a href="comment.aspx">Comments</a></li>
    
        <li><a href="Document.aspx">Document</a></li>
     <li><a href="administrative.aspx">Administrative Information</a></li>
    </ul>


