BODY
{
    SCROLLBAR-FACE-COLOR: #d5d5d5;
    FONT-SIZE: 10pt;
    SCROLLBAR-HIGHLIGHT-COLOR: #d5d5d5;
    SCROLLBAR-SHADOW-COLOR: #000000;
    SCROLLBAR-ARROW-COLOR: #ffff00;
    SCROLLBAR-TRACK-COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    SCROLLBAR-BASE-COLOR: #d5d5d5;
    BACKGROUND-COLOR: #ffffff;
    left-margin: 5px;
    top-margin: 0px;
    scrollbar-dark-shad: #000000;
    scrollbar-3d-light-color: #333333
}
.HelpHeader
{
    DISPLAY: none
}
TD A
{
    FONT-SIZE: 8pt;
    COLOR: #333399;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
INPUT
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma
}
SELECT
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma
}
TEXTAREA
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma
}
.PageTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    PADDING-BOTTOM: 1px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #990000;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.PageSubTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: #666666;
    FONT-FAMILY: arial
}
.SectionHeader
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #ffffff;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #CB0200;
}
.SectionHeaderOptions
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #CB0200;
    TEXT-ALIGN: right
}
.SectionHeaderOptions A
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: capitalize;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #CB0200;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.SectionSubHeader
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #ffffff;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #444444
}
.SectionSubHeaderOptions
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #444444;
    TEXT-ALIGN: right
}
.SectionSubHeaderOptions A
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: capitalize;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #444444;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.Currency
{
    TEXT-ALIGN: right
}
.Numeric
{
    TEXT-ALIGN: right
}
.IconText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.IconText:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
	Color: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.ResultsHeader
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: #333333;
    FONT-FAMILY: tahoma;
    BACKGROUND-COLOR: #D6D7CE;
    TEXT-DECORATION: none
}
.ResultsHeaderNoPadding
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: #000000;
    FONT-FAMILY: tahoma;
    BACKGROUND-COLOR: #cacaca;
    TEXT-DECORATION: none
}
.ResultsRow1
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.ResultsRowNoPadding1
{
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.ResultsRow2
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f5f5dc;
    TEXT-DECORATION: none
}
.ResultsRowNoPadding2
{
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-DECORATION: none
}
.ResultsDivider
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #ffdead
}
.GridSelectedRow
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cccccc
}
.GridPageFooter
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: tahoma;
    BACKGROUND-COLOR: #ccccff;
    TEXT-ALIGN: right
}
.GridCurrentPage
{
    FONT-WEIGHT: bold;
    COLOR: #000000
}
.GridOtherPage
{
    FONT-WEIGHT: bold;
    COLOR: #666699
}
.navbar-item
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana;
 
    TEXT-DECORATION: none
}
A.navbar-item:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #c5cbe9;
    FONT-FAMILY: verdana;

    TEXT-DECORATION: none
}
.navbar-separator
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: #ffffff
}
.Main-Content
{
    PADDING-RIGHT: 10px
}
.RequiredField
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.yes
{
    COLOR: green
}
.no
{
    COLOR: red
}
.ErrorMessages
{
    COLOR: red
}
.form
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
  
}
.FormLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px
}
.FormData
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.FormButton
{
    BORDER-RIGHT: #104a7b 1px solid;
    BORDER-TOP: #afc4d5 1px solid;
    FONT-SIZE: 12px;
    BACKGROUND: #d6e7ef;
    BORDER-LEFT: #afc4d5 1px solid;
    CURSOR: hand;
    COLOR: #000066;
    BORDER-BOTTOM: #104a7b 1px solid;
    FONT-FAMILY: arial, helvetica, sans serif;
    TEXT-DECORATION: none
}
.navyLink
{
    FONT-SIZE: 13px;
    COLOR: navy;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.navyLink:hover
{
    FONT-SIZE: 13px;
    COLOR: navy;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.smnavyLink
{
    FONT-SIZE: 7.5pt;
    COLOR: navy;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.smnavyLink:hover
{
    FONT-SIZE: 7.5pt;
    COLOR: navy;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.mednavyLink
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.mednavyLink:hover
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.smwhiteText
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.smwhiteText:hover
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}

.GridCommand
{  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000066;
	text-decoration: none
}

A.GridCommand:hover
{  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #9999ff;
	text-decoration: none
}
a.navlink:link { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navlink:visited { text-decoration: none; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navlink:hover { text-decoration: underline; color: #ffffff; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }

a.navhighlight:link { text-decoration: none; color: #ffcc00; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navhighlight:visited { text-decoration: none; color: #ffcc00; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }
a.navhighlight:hover { text-decoration: underline; color: #ffcc00; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: bold; }


.divider { color: #999999; font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: normal; }
.footer
{
	font-size:8pt;
}