﻿<%@ Control Language="C#" AutoEventWireup="true"  Inherits="System.Web.UI.UserControl" %>

<ul>

    

    
       
        <li><a href="Overview.aspx">Overview</a></li>
        <li><a href="visitinfo.aspx">Visit Information</a></li>
        <li><a href="clearanceinfo.aspx">Clearances Information</a></li>
        <li><a href="poc.aspx">POC</a></li>
        <li><a href="attendees.aspx">Attendees</a></li>
        <li><a href="comment.aspx">Comments</a></li>
        <li><a href="document.aspx">Document</a></li>
        <li><a href="administrative.aspx">Administrative Information</a></li>
    </ul>


