﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_includes/MasterPage.master" AutoEventWireup="true" CodeBehind="EditDOAG.aspx.cs" Inherits="XOM.BIS.Prototype.Web.Admin.EditDOAG" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Title" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="SubTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
        <div class="em-l__main">
        <div class="em-l-linelength-container">
            <fieldset class="em-c-fieldset">
                <legend class="em-c-fieldset__legend">Edit DOAG Level</legend>
                <div class="em-c-field ">
                    <label for="file" class="em-c-field__label">Level</label>
                    <div class="em-c-field__body">
                        <input class="em-c-input" placeholder="" value="DOAG Level 9">
                    </div>
                </div>
                <div class="em-c-field ">
                    <label for="file" class="em-c-field__label">Description</label>
                    <div class="em-c-field__body">
                        <input class="em-c-input" placeholder="" value="">
                    </div>
                </div>
                <div class="em-c-field ">
                    <label for="file" class="em-c-field__label">Maximum Amount</label>
                    <div class="em-c-field__body">
                        <input type="number" class="em-c-input" value="5000000">
                    </div>
                </div>
                <div class="em-c-btn-group ">
                    <a href="DOAGList.aspx" class="em-c-btn em-c-btn--primary">
                        <span class="em-c-btn__text">Submit</span>
                    </a>
                    <!-- end em-c-btn -->
                    <a href="DOAGList.aspx" class="em-c-btn em-c-btn--secondary">
                        <span class="em-c-btn__text">Cancel</span>
                    </a>
                    <!-- end em-c-btn -->
                </div>
                <!-- end em-c-btn-group -->
            </fieldset>
        </div>
    </div>

</asp:Content>
